*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),transparent),url(images/3.jpg);
    background-size: cover;
    background-position: center;
    padding: 0 8%;
    position: relative;
}
.container nav img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    margin: 30px;
    border: solid 3px #15f4ee;
}

.container nav{
    text-align: center;
}
.link{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}
.link a{
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    text-decoration: none;
    text-transform: uppercase;
    color:aliceblue;
    padding: 15px 20px 20px;
    border: 4px solid aliceblue ;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    transition: 1.5s;
}
.link :hover{
    box-shadow: 0 5px 50px 0 aliceblue inset, 0 5px 50px 0 aliceblue,
                0 5px 50px 0 #15f4ee inset, 0 5px 50px 0 aliceblue;
    text-shadow: 0 0 5px aliceblue, 0 0 5px aliceblue;
    transform: scale(1.1);
}
.icon img{
    width: 50px;
    height: auto;
    margin: 64px 8px;
   
}
.icon :hover{
    transform: scale(1.5);
}
@media (min-width: 1024px) {
    .container{
        width: 40vm;
    }
}
@media all and (max-width: 480px) {


}
